body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    max-width: 800px;
}

header img {
    max-width: 200px;  /* Adjust size as needed */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
